.content
  table(style=border='2')
      tr
        th 공모전명: 
        td=question.title
      tr
        th 주최사: 
        td=question.host
      tr
        th 분야: 
        td=question.field
      tr
        th 내용: 
        td=question.content
      tr
        th 참가대상: 
        td=question.applicant
      tr
        th 모집시작: 
        td=question.sdate
      tr
        th 모집마감: 
        td=question.ldate
      tr
        th 공모요강:
        td=question.guidance
      tr
        th 담당자: 
        td=question.manager
      tr
        th 담당자 연락처:
        td=question.phone

.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= question.numLikes] likes,
      #[span.number.num-answers= question.numAnswers] answers,
      #[span.number.num-views= question.numReads] reads
  .col-sm
    .author
      | asked on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 